ul.social-network {
    top: 0 !important;
    float: left !important;
}

.socialbg {
    background-color: #eec24b !important;
}
.social-network {
    list-style: none !important;
    display: block !important;
    padding: 0 !important;
    position: relative !important;
    margin-top: 18px !important;
}
h4.send-feedback {
    float: left;
    margin-right: 20px;
    margin-top: 32px;
}
ul.social-network li {
	display: inline-block !important;
	margin: 0 3px !important;
}
.socialHoverClass, a.socialIcon:hover {
	color: #44BCDD !important;
}
.social-circle li a {
	display: inline-block !important;
	position: relative !important;
	margin: 0 auto !important;
	text-align: center !important;
	width: 45px !important;
	height: 45px !important;
	font-size: 18px !important;
	border-radius: 50% !important;
	border: 3px solid rgba(0,0,0,.2) !important;
}
 
.social-circle li i {
	margin: 0 !important;
	line-height: 45px !important;
	text-align: center !important;
}
.social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg) !important;
	-webkit-transform: rotate(360deg) !important;
	-ms--transform: rotate(360deg) !important;
	transform: rotate(360deg) !important;
	-webkit-transition: all .2s !important;
	-moz-transition: all .2s !important;
	-o-transition: all .2s !important;
	-ms-transition: all .2s !important;
	transition: all .2s !important;
}
.social-circle i {
	-webkit-transition: all .8s !important;
	-moz-transition: all .8s !important;
	-o-transition: all .8s !important;
	-ms-transition: all .8s !important;
	transition: all .8s !important;
}
.icoFacebook, .icoGoogle, .icoLinkedin, .icoRss, .icoTwitter, .icoYoutube {
	background-color: #fff !important;
	color: rgba(0,0,0,.5) !important;
}
.social-network a.icoRss:hover {
	background-color: #F56505 !important;
	color: #fff !important;
}
.social-network a.icoFacebook:hover,.social-network a.icoFacebook {
	background-color: #3B5998 !important;
	color: #fff !important;
}
.social-network a.icoTwitter:hover,.social-network a.icoTwitter {
	background-color: #fff !important;
	color: #fff !important;
}
.social-network a.icoGoogle:hover,.social-network a.icoGoogle {
	background-color: #BD3518 !important;
	color: #fff !important;
}
.social-network a.icoVimeo:hover {


	background-color: #0590B8 !important;
	color: #fff !important;

}
.social-network a.icoLinkedin:hover {
	background-color: #007bb7 !important;
	color: #fff !important;
}
.social-network a.icoYoutube:hover,.social-network a.icoYoutube{
	background-color: #c52828 !important;
	color: #fff !important;
}

.socialbg {
	background-color: #00af84 !important;
}

.table > tbody td, th {
    word-break: break-word  !important;
}

.table > tbody > tr.info > th {
   background-color: #2b6684  !important;
}

.table td a {
    color: #a22020 ;
    font-weight: 600;
}


.allocation {
}
.allocation a {
	background-color: #0879b7;
  	color: #fff;
	padding: 10px;
	float: right;
	transition: all 0.2s ease-in-out;
}
.allocation a:hover {
	color: #fff;
	background-color: #0c99e7;
}
.allocation a:focus {
	color: #fff;
}
.te-button a {
	background-color: #0879b7;
	color: #fff;
	padding: 10px;
	float: right;
	transition: all 0.2s ease-in-out;
}
.te-button a:hover {
	color: #fff;
	background-color: #0c99e7;
}
.te-button a:focus {
	color: #fff;
}
.fancybox-thumbs {
	cursor: pointer !important
}
.menu_2 li ul a, .menu_2 li ul a:focus {
	padding: 6px 0px !important
}
.radiobtn td {
	padding: 0px 15px;
}
.pagination {
	background: #20467a none repeat scroll 0 0 !important;
	color: #ffffff;
	display: table-row !important;
}
.pagination > td {
	padding: 0;
}
.pagination a {
	border: 1px solid #ffffff;
	color: #ffffff !important;
	font-size: 10pt;
	padding: 0 10px;
}
.pagination a:hover {
	color: #20467a !important;
}
.news-section .pagination {
	background: none !important;
}
.table-user-information {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
}
.table-user-information td {
	border-bottom: 1px solid #eeeeee;
	padding: 10px;
}
.fancybox-thumbs {
	cursor: pointer !important;
}
.grid-stack {
	background: #ffffff none repeat scroll 0 0 !important;
}
.grid-stack > .grid-stack-item > .grid-stack-item-content {
	overflow-y: hidden !important;
}
.grid-stack>.grid-stack-item>.grid-stack-item-content {
	overflow-y: hidden!important;
	color: rgba(255, 255, 255, 0)!important
}
.title-caption {
	background: rgba(0, 0, 0, 0.52) none repeat scroll 0 0;
	color: white;
	padding: 2px 10px;
}
.serialnumber {
	counter-reset: Serial;
}
.serialnumber tr td:first-child:before {
	counter-increment: Serial;      /* Increment the Serial counter */
	content: "" counter(Serial); /* Display the counter */
}
.material-popup .popup-body {
	height: 80% !important;
	overflow-y: scroll !important
}
.ytubevideo {
	padding: 0px;
}
.rec-tbl {
	counter-reset: Serial;
}
.rec-tbl tr td:first-child {
	text-align: center;
}
.rec-tbl tr td:first-child::before {
	content: "" counter(Serial, decimal);
	counter-increment: Serial;
}
.modal {
	z-index: 99999 !important;
}
.video-popup .modal-dialog {
	width: 50%;
	height:43%;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	text-align: center;
}
.video-popup video {
	display: block;
	width: 100%!important;
	height: 100%!important;
}
.video-popup .modal-header {
	position: absolute;
	z-index: 999;
	top: -11px;
	right: -10px;
	border: 0px;
	padding: 0px;
}
.video-popup .modal-header .close {
	width: 35px;
	height: 35px;
	line-height: 35px;
	background: #e3f750;
	border-radius: 50%;
	color: #000;
	margin: 0;
	opacity: 1;
}
.modal.fade.video-popup {
	padding-right: 0px!important;
	background: rgba(0, 0, 0, 0.53);
}
.video-popup .modal-content {
	height: 100%;
}
.video-popup .modal-body {
	height: 100%;
	width: 100%;
	background: linear-gradient(132deg, #EDA22F, #ac1328);
	background-size: 400% 400%;
	animation: BackgroundGradient 10s ease infinite;
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	margin: 0px auto;
	height: 100%;
	border-radius: 0px;
}
@keyframes BackgroundGradient {
 0% {
background-position: 0% 50%;
}
 50% {
background-position: 100% 50%;
}
 100% {
background-position: 0% 50%;
}
}
.video-popup .modal-body .upid-pup {
	border: 1px Dashed #fff;
	padding: 35px;
	margin: 25px 0px 0px 0px;
}
.video-popup .modal-body .upid-pup p { font-size:25px; text-align:center;
	text-align: left;
	padding: 0px;
	margin-bottom: 15px;
	color: #fff
}
.video-popup .modal-body .upid-pup p a{ color:#e3f750 !important}
.video-popup .modal-body .upid-pup h3 {
	background-color: #AC1328;
	color: rgb(255, 255, 255);
	margin-left: 0px;
	display: table;
	position: relative;
	padding: 10px;
	margin-bottom: 8px;
	margin-top: 15px;
	font-size: 1.4em;
}
.video-popup .modal-body .upid-pup h3::after {
	content: "";
	height: 0px;
	right: -34px;
	position: absolute;
	top: 0px;
	width: 0px;
	border-bottom: 43px solid rgb(172, 19, 40);
	border-right: 34px solid transparent;
}
.video-popup .modal-body .upid-pup ul {
	margin: 0px 0px 10px 0px;
	padding: 6px 15px;
	border: 1px dashed #fff;
	list-style: none;
}
.video-popup .modal-body .upid-pup ul li {
	margin-bottom: 5px;
	position: relative;
	padding-left: 15px;
	text-align: left;
	color: #fff;
}
.video-popup .modal-body .upid-pup ul li:before {
	content: "\f105";
	font-family: FontAwesome;
	color: #ffffff;
	position: absolute;
	left: 0px;
	font-size: 1.3em;
}
.video-popup .modal-body .upid-pup ul li a {
	color: #e3f750;
	padding: 0px 10px;
}
.video-gallery video {
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.18);
	border: 4px solid #fff;
	width: 100%;
	height: 250px;
}
.white {
	color: #fff;
}
.top-nav .red-theme {
	background-color: #FA7A0C !important;
}
.video-size {
	font-size: 12px;
	color: #000;
}
.video-size:before {
	font-family: 'FontAwesome';
	content: "\f03d";
	color: #D32F2F;
	margin: 0px 5px;
}
 @media screen and (max-width:560px) {
.video-popup .modal-dialog {
	width: 95%;
	height: 92%;
}
.video-popup .modal-body .upid-pup h3 {
	padding: 9px;
	margin-bottom: 10px;
	margin-top: 15px;
	font-size: 0.8em;
}
.video-popup .modal-body .upid-pup h3::after {
	border-bottom: 31px solid rgb(172, 19, 40);
	border-right: 34px solid transparent;
}
.video-popup .modal-body .upid-pup ul {
	padding: 5px 10px;
	margin: 0px 10px;
}
.video-popup .modal-body .upid-pup p {
	padding: 0px 10px;
	font-size: 0.9em;
}
.video-popup .modal-body .upid-pup ul li {
	margin-bottom: 6px;
	padding-left: 15px;
	font-size: 0.9em;
}
.video-popup .modal-body {
	padding: 0px;
}
.video-popup .modal-body .upid-pup {
    border:0px Dashed #fff !important;

}
}
.leader .content p {
    margin: 0 0 0px;
}
h1.main-heading {
    font-size: 33px;
}
.news-section .ndate{display:none;
}

.morelink {
    display: block;
    width: 100%;
    list-style: none;
    margin: 0px;
    padding: 0px;
    position: relative;
}

.morelink li {
    font-weight: 600;
    float: left;
    padding: 22px 14px 8px 14px;
    color: #f95569;
}
.morelink li:nth-child(1){
    border-top: 7px solid #1f3b7a;
}
.morelink li:nth-child(2){
    border-top: 7px solid #208acb;
}

.morelink li a {
    display: block;
    text-transform: capitalize;
    color: #594233;
}

.social-network  li a img{position: relative;
    top: 7px;
}

.lft-logo1 {
    width: 98px;
    padding-top: 5px;
    margin-right: 12px;
    float: left;
}
.lft-logo2 {
width: 98px;
    padding-top: 5px;
}
.leader li {
    display: table-cell !important;
    width: 22% !important;
   }




