
@{
    ViewBag.Title = "Contact_Us";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<div class="inner-page">
    <section class="innerbg">
        <div class="container">
            <h2 class="inner-heading2" tabindex="0"><span>Contact Us</span></h2>
            
        </div>
    </section>
    <div class="clearfix"></div>
    <section class="content">
        <div class="container">
            <div class="panel">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 " tabindex="0">
                            <div class="row">
                                <div class="col-lg-12 ccol-md-12 col-sm-12 col-xs-12">
                                    <div class="map"><iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d7172.043527235642!2d79.4479869391899!3d26.000104451853094!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sDistrict%20Magistrate%20Office%2C%20Collectorate%20Campus%2C%20Orai%2C%20Jalaun%2C%20Uttar%20Pradesh!5e0!3m2!1sen!2sin!4v1768897849421!5m2!1sen!2sin" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <div class="contactbox">
                                        <h4><img src="~/Jalaun_Web/images/bullet_arrow.png"> कार्यालय पता</h4>
                                        <table width="100%" cellspacing="0" cellpadding="4" border="0">
                                            <tbody>
                                                <tr>
                                                    <td class="text-danger" width="11%" valign="top" align="center"><i class="fa fa-map-marker" aria-hidden="true"></i></td>
                                                    <td width="89%">
                                                        <p>डिजिटल उर्वरक मांग एवं वितरण प्रबंधन प्रणाली जिला जालौन, उत्तर प्रदेश सरकार</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="text-danger" valign="top" align="center"><i class="fa fa-phone" aria-hidden="true"></i></td>
                                                    <td>
                                                        <p>Phone No :- (123) 45678912</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="text-danger" valign="top" align="center"><i class="fa fa-fax" aria-hidden="true"></i></td>
                                                    <td>
                                                        <p>Fax :- 91 (012345678)</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2">
                                                        <p><a href="#" class="external none">Web Information Manager</a></p>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <img src="~/Jalaun_Web/images/contactbox-border.png" width="100%">
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"><img src="~/Jalaun_Web/images/contactimg.png" class="img-responsive"></div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

