@model System.Data.DataTable



<div class="table-card">

   

    <!-- TABLE -->
    <table class="table table-responsive example" id="myDataTable">
        <thead>
            <tr>
                @foreach (System.Data.DataColumn col in Model.Columns)
                {
                    <th>@col.ColumnName</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (System.Data.DataRow row in Model.Rows)
            {
                <tr>
                    @foreach (var item in row.ItemArray)
                    {
                        <td>@Html.Raw(item)</td>
                    }
                </tr>
            }
        </tbody>
    </table>

</div>

    
<script>
    new DataTable('.example', {
        responsive: true,
        processing: true,
        paging: true,
        searching: true,
        ordering: true,

        language: {
            url: cultureName === "en"
                ? "//cdn.datatables.net/plug-ins/1.13.7/i18n/en-GB.json"
                : "//cdn.datatables.net/plug-ins/1.13.7/i18n/hi.json"
        },
        layout: {
            topStart: {
                buttons: [
                    {
                        extend: 'print',
                        text: cultureName === "en" ? 'Print' : 'प्रिंट'
                    },
                    {
                        extend: 'excel',
                        text: cultureName === "en" ? 'Excel' : 'एक्सेल',
                        exportOptions: {
                            columns: ':visible'
                        }
                    },
                    {
                        extend: 'colvis',
                        text: cultureName === "en" ? 'Column visibility' : 'कॉलम दिखाएँ'
                    }
                ]
            }
        }
    });
</script>