<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
        डिजिटल उर्वरक मांग एवं वितरण प्रबंधन प्रणाली जिला जालौन, उत्तर प्रदेश सरकार
    </title>
    <link rel="shortcut icon" href="~/Jalaun_Web/images/fevicon.png" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
   <base />
    <style type='text/css'></style>
    <style>
        @@import url("../Jalaun_Web/css/bootstrap.min.css");
        @@import url("../Jalaun_Web/css/font-awesome.min.css");
        @@import url("../Jalaun_Web/css/owl.carousel.css");
        @@import url("../Jalaun_Web/src/jquery.smartmenus.bootstrap.css");
        @@import url("../Jalaun_Web/engine1/style.css");
        @@import url("../Jalaun_Web/Scripts/jquery-ui-1.9.1.css");
        @@import url("../Jalaun_Web/site/writereaddata/config/sitecss.css");
    </style>
    <link href="~/Jalaun_Web/hi_Themes/style.css" rel="stylesheet" type="text/css" />
    <style>
        @@import url("../Jalaun_Web/css/responsive.css");
    </style>
    <noscript>
        <style>
            @@import url("../Jalaun_Web/css/menu-css.css");
        </style>
    </noscript>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-109758456-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-109758456-1');
    </script>


</head>
<body class="homebody">
    <form method="post" action="#" id="form1">
       
        <div class="homecontent">
            <header>
                <div>
                    <section class="top-nav">
                        <div class="col-sm-4 hidden-sm hidden-xs"></div>
                        <div class="col-sm-8 col-xs-12 text-right">
                            <ul id="textresizer">
                                @*<li><a href="article/hi/screen-reader-access.html" accesskey="1" title="स्क्रीन रीडर का उपयोग">स्क्रीन रीडर का उपयोग</a></li>
                                <li><a href="#" accesskey="2" class="skiper" title="मुख्य सामग्री पर जाएं">मुख्य सामग्री पर जाएं</a></li>
                                <li><a href="article/hi/sitemap.html" accesskey="3" title="साइटमैप">साइटमैप</a></li>*@
                                <li class="textresizer"><a accesskey="4" title="छोटे फ़ॉन्ट" class="small-text decreaseFont fontresize btn-xs">A-</a></li>
                                <li class="textresizer"><a accesskey="5" title="डिफ़ॉल्ट फ़ॉन्ट" class="medium-text normalizeFont fontresize btn-xs">A</a></li>
                                <li class="textresizer"><a accesskey="6" title="बड़े फ़ॉन्ट" class="large-text increaseFont fontresize btn-xs">A+</a></li>
                                <li><a href="~/Jalaun_Web/hi_Themes/style.css" accesskey="7" title="डिफ़ॉल्ट थीम" class="btn-blue defTheme blue-theme-link"> T </a></li>
                                <li><a href="~/Jalaun_Web/hi_Themes/contrast.css" accesskey="8" title="ब्लैक थीम" class="btn-black defTheme normal-theme-link"> T </a></li>
                                <li><a href="#" accesskey="9" title="अंग्रेजी में देखने के लिए यहां क्लिक करें" class="btn-yellow hi-btn">English</a></li>
                                <li class="hidden-sm hidden-xs"><a target="_blank" accesskey="10" href="#" class="btn-yellow" rel="noopener">लॉगइन</a></li>
                            </ul>
                        </div>
                    </section> <section class="logo-section">
                        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                            <div class="logo"><img src="~/Jalaun_Web/images/Food_and_Civil_Supplies_Department_Jalaun.png" alt="डिजिटल उर्वरक मांग एवं वितरण प्रबंधन प्रणाली जिला जालौन" title="डिजिटल उर्वरक मांग एवं वितरण प्रबंधन प्रणाली जिला जालौन" class="img-responsive" /></div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 hidden-xs text-right">
                            <div class="row">
                                <div class="col-md-12">
                                    
                                </div>
                            </div>
                        </div>
                    </section> <nav class="navbar navbar-inverse">
                        <div class="navbar-header"><button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button></div>
                        <div>
                            <div class="collapse navbar-collapse" id="navbar-collapse"><ul id="nav" class="nav navbar-nav">
    <li class="home active"><a class="" href="/Home/Index">मुख्य पृष्ठ</a></li>
    <li class=""><a class="" href="/Home/About_Us">हमारे बारे में</a></li>
    <li class=""><a class="" href="/Home/Contact_Us">हमसे संपर्क करें</a></li>
     <li class=""><a class="" href="/Auth/Login">Login</a></li>
</ul></div>
                        </div>
                    </nav>
                </div>
            </header>
            @RenderBody()
            <footer class="foot-bootom">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            आगंतुक संख्या : 123 <strong>
                                <img src="#" alt="" />
                            </strong>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 hidden-xs text-right">
                            <p><a target="_blank" href="#" rel="noopener"><strong style="color: #fff;"> थिंक कंप्यूटर</strong> </a> द्वारा संचालित</p>
                        </div>
                    </div>
                </div>
            </footer>
            
            <script type="text/javascript" src="~/Jalaun_Web/Scripts/jquery-1.9.1.min.js"></script>
            <script type="text/javascript" src="~/Jalaun_Web/Scripts/jquery-ui.min-1.9.1.js"></script>

            <script src="~/Jalaun_Web/site/writereaddata/config/sitejs.js" type="text/javascript"></script>

            <script type="text/javascript">
                $(document).ready(function () {
                    if (typeof myContentLoad == 'function') {
                        myContentLoad();
                    }


                    $('a').each(function () {
                        if (location.href === this.href) {
                            $(this).addClass('selected');
                            $('a').not(this).addClass('none');
                            return false;
                        }
                    });

                    $(".skiper").click(function () {
                        $('html,body').animate({
                            scrollTop: 600
                        },
                            'slow');
                    });

                    var mk = $(location).attr('href')
                    $('.skiper').attr('href', mk + "#main-content");
                });
            </script>

            <script type='text/javascript'></script>
            <script type="text/javascript" src="~/Jalaun_Web/hi_Themes/search-code.js"></script>
            <script type="text/javascript" src="~/Jalaun_Web/js/jquery.min.js"></script>
            <script type="text/javascript" src="~/Jalaun_Web/engine1/wowslider.js"></script>
            <script type="text/javascript" src="~/Jalaun_Web/engine1/script.js"></script>
            <script type="text/javascript" src="~/Jalaun_Web/js/bootstrap.min.js"></script>
            <script type="text/javascript" src="~/Jalaun_Web/js/owl.carousel.min.js"></script>
            <script type="text/javascript" src="~/Jalaun_Web/js/jquery.cookie.js"></script> 
            <script type="text/javascript" src="~/Jalaun_Web/js/jquery.textresizer.js"></script>
            <script type="text/javascript" src="~/Jalaun_Web/src/jquery.smartmenus.js"></script>
            <script type="text/javascript" src="~/Jalaun_Web/src/jquery.smartmenus.bootstrap.js"></script>
            <script type="text/javascript" src="~/Jalaun_Web/hi_Themes/news-scroll.js"></script>
            <script type="text/javascript">
                $(document).ready(function () {
                    if ($.cookie("css")) {
                        $("link").attr("href", $.cookie("css"));
                    }
                    $(".defTheme").click(function () {
                        $("link").attr("href", $(this).attr('href'));
                        $.cookie("css", $(this).attr('href'));
                        return false;
                    });

                    $(".textresizer a").textresizer({
                        target: ".navbar-nav > li > a",
                        type: "fontSize",
                        sizes: ["13px", "14px", "15px"],
                        selectedIndex: 1
                    });
                    $(".textresizer a").textresizer({
                        target: ".content",
                        type: "fontSize",
                        sizes: ["12px", "13px", "14px"],
                        selectedIndex: 1
                    });
                });
                $(window).scroll(function () {
                    var height = $(window).scrollTop();
                    if (height > 150) {
                        $(".top-nav").addClass("pwdFxd");
                    }
                    if (height < 150) {
                        $(".top-nav").removeClass("pwdFxd");
                    }


                });
            </script>

            <script type="text/javascript" src='~/Jalaun_Web/hi_Themes/test.js'></script>
            <script type="text/javascript"></script>
            <script type="text/javascript" src="~/Jalaun_Web/hi_Themes/test.js"></script>


        </div>

    </form>
</body>
</html>
